<link rel="stylesheet" href="/css/navigation.css">
<nav class="header_nav">
    <ul class="nav_logo">
        <li class="nav_list-item">
            <a href="/">Website Logo</a>
        </li>
    </ul>
    <ul class="nav_list">
        <li class="nav_list-item">
            <a class="<%= path==='/' ? 'active': '' %>" href="/">Home</a>
        </li>
        <% if(!isAuthenticated) { %>
        <li class="nav_list-item">
            <a class="<%= path==='/auth/admin_login' ? 'active': '' %>" href="/auth/admin_login">Admin</a>
        </li>
        <li class="nav_list-item">
            <a class="<%= path==='/auth/police_login' ? 'active': '' %>" href="/auth/police_login">Police</a>
        </li>
        <li class="nav_list-item">
            <a class="<%= path==='/about_us' ? 'active': '' %>" href="/about_us">About us</a>
        </li>
        <% } else{ %>
        <% if(isAdmin) { %>
        <li class="nav_list-item">
            <a class="<%= path==='/admin/polices-details' ? 'active': '' %>" href="/admin/polices-details">Polices</a>
        </li>
        <% } %>
        <li class="nav_list-item">
            <a class="<%= path==='/crime/crimes_details' ? 'active': '' %>" href="/crime/crimes_details">Crimes</a>
        </li>
        <li class="nav_list-item">
            <a class="<%= path==='/criminal/criminals_details' ? 'active': '' %>"
                href="/criminal/criminals_details">Criminals</a>
        </li>
        <li class="nav_list-item">
            <a class="<%= path==='/auth/logout' ? 'active': '' %>" href="/auth/logout">Logout</a>
        </li>
        <% } %>
    </ul>
</nav>