<link rel="stylesheet" href="/css/navigation.css">
<nav class="header_nav">
    <ul class="nav_logo">
        <li class="nav_list-item">
            <a href="/">CCC</a>
        </li>
    </ul>
    <ul class="nav_list">
        <% if(!isAuthenticated) { %>
        <li class="nav_list-item">
            <a class="<%= path==='/auth/admin_login' ? 'active': '' %>" href="/auth/admin_login">Admin</a>
        </li>
        <li class="nav_list-item">
            <a class="<%= path==='/auth/police_login' ? 'active': '' %>" href="/auth/police_login">Police</a>
        </li>
        <% } else{ %>
        <% if(isAdmin) { %>
            <li class="nav_list-item">
                <a class="<%= path==='/admin/dashboard' ? 'active': '' %>" href="/admin/dashboard">Dashboard</a>
            </li>
        <li class="nav_list-item">
            <a class="<%= path==='/admin/polices-details' ? 'active': '' %>" href="/admin/polices_details">Polices</a>
        </li>
        <% } else { %>
            <li class="nav_list-item">
                <a class="<%= path==='/police/dashboard' ? 'active': '' %>" href="/police/dashboard">Dashboard</a>
            </li>
            <% } %>
        <li class="nav_list-item">
            <a class="<%= path==='/crime/crimes_details' ? 'active': '' %>" href="/crime/crimes_details">Crimes</a>
        </li>
        <li class="nav_list-item">
            <a class="<%= path==='/criminal/criminals_details' ? 'active': '' %>"
                href="/criminal/criminals_details">Criminals</a>
        </li>
        <li class="nav_list-item">
            <a class="<%= path==='/auth/logout' ? 'active': '' %>" href="/auth/logout">Logout</a>
        </li>
        <% } %>
    </ul>
</nav>