<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../includes/head.ejs')%>
</head>
<header>
    <%-include('../includes/navigation.ejs')%>
    <link rel="stylesheet" href="/css/crime/crimes_det.css">

</header>

<body>
    <div class="main">
            <div class="row">
        <b>ID:</b>
        <span class="id"><%=crime.id%></span>
</div>

    <div class="row">
        <b>Date:</b>
        <span class="dob"><%=crime.date%></span>
    </div>
    <div class="row">
        <b>City:</b>
        <span class="place"><%=crime.city%></span>
    </div>
    <div class="row">
        <b>Crime Type:</b>
        <% crime.crime_type_names.forEach(name=>{ %>

        <span class="firstname"><%=name%>, </span>
        <%})%>
    </div>
    <% if(criminals.length > 0) { %>
        <b class="row">Criminals:</b>
    <% criminals.forEach(c =>{ %>
    <div id="col">
        <img src="/images/criminals/<%=c.photo_filename%>" alt="criminal photo" class="photo" height="210px" width="210px">
        <span class="firstname"><%=c.name%></span>
        <span class="id "><%=c.id %></span><br>
        <span class="place"><%=c.city %></span><br>
        <a href="/criminal/criminal_detail/<%=c.id%>" class="id">More Info</a>
    </div>
    <% }) %>
    <% } %>
    <div class="row">
        <b>Description:</b>
        <span class="description"><%=crime.description%></span>
    </div>
    <div class="submit">
        <a href="/crime/edit_crime/<%=crime.id%>">Edit</a></div>
        <div class="submit">
        <a href="/crime/delete_crime/<%=crime.id%>">Delete</a></div>
    </div>
</body>

</html>