<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../includes/head.ejs')%>
  </head>
  <header><%-include('../includes/navigation.ejs')%>
    <link rel="stylesheet" href="/css/crime/crime_search_results.css">
  </header>

  <body>
    <nav class="top">

      <div class="search-bar">
    <%-include('../includes/search_bar.ejs')%>
      </div>
      </nav>

      <div class="crimes_list">
        <h3><%=page_title %></h3>
        <% if(crimes.length> 0) { %> <% crimes.forEach(c=>{ %>
        <div class="crimes_list_item">
          <div>
            <div>
              <b>Date : </b>
              <span> <%=c.date%> </span>
            </div>
            <div>
              <b>ID : </b>
              <span> <%=c.id %> </span>
            </div>
            <div>
              <b>City : </b>
              <span> <%=c.city %> </span>
            </div>
          </div>
          <a href="/crime/crime_detail/<%=c.id%>">More Info</a>
        </div>
        <% }) %> <% } %>
      </div>
  </body>
</html>
