<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../includes/head.ejs')%>
</head>
<header>
    <%-include('../includes/navigation.ejs')%>

</header>

<body>
    <div><%=error_msg%></div>
    <form
        action="/admin/<% if(isEditing) { %>edit_police_personnel_info/<%=personnel.id%><% } else { %>add_police_personnel <% } %>"
        method="POST" enctype="multipart/form-data">
        <div>
            <div>
                <label for="name">name</label>
                <input type="text" name="name" id="name" value="<% if(isEditing) { %><%=personnel.name%><% } %>">
            </div>
            <div>
                <label for="dob">dob</label>
                <input type="date" name="dob" id="dob" value="<% if(isEditing) { %><%=personnel.dob%><% } %>">
            </div>
            <div>
                <label for="phone">phone</label>
                <input type="text" name="phone" id="phone" maxlength="10"
                    value="<% if(isEditing) { %><%=personnel.phone%><% } %>">
            </div>
            <div>
                <label for="email">email</label>
                <input type="email" name="email" id="email" value="<% if(isEditing) { %><%=personnel.email%><% } %>">
            </div>
            <div>
                <label for="department">department</label>
                <input type="text" name="department" id="department"
                    value="<% if(isEditing) { %><%=personnel.department%><% } %>">
            </div>
            <div>
                <input type="radio" name="gender" id="male" value="male"
                    <%= (isEditing && personnel.gender==='male')?'checked':'' %>>
                <label for="male">male</label>
                <input type="radio" name="gender" id="female" value="female"
                    <%= (isEditing && personnel.gender==='female')?'checked':'' %>>
                <label for="female">female</label>

            </div>
            <div>
                <label for="police_photo">photo</label>
                <% if(isEditing){ %>
                <img src="/images/polices/<%=personnel.photo_filename%>" alt="police photo">
                <input type="hidden" name="old_police_photo" id="old_police_photo"
                    value="<%if(isEditing) { %><%=personnel.photo_filename%><% } %>">
                <% } %>
                <input type="file" name="police_photo" id="police_photo"
                    value="<%if(isEditing) { %><%=personnel.photo_filename%><% } %>">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password"
                    value="<%if(isEditing) { %><%=personnel.password%><% } %>">
            </div>
            <% if(isEditing) { %>
            <button type="submit">Update</button>
            <% } else { %>
            <button type="submit">Submit</button>
            <% } %>
        </div>
    </form>
</body>

</html>