<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../includes/head.ejs')%>
  </head>
  <header>
    <%-include('../includes/navigation.ejs')%>
    <link rel="stylesheet" href="/css/police/search_results.css" />
  </header>

  <body>
    <nav class="top">
      <div class="search-bar"><%-include('../includes/search_bar.ejs')%></div>
    </nav>
    <div class="polices_list">
      <h3 class="title"><%=page_title %></h3>
      <% if(polices.length> 0) { %> <% polices.forEach(p=>{ %>
      <div class="polices_list_item">
        <img src="https://res.cloudinary.com/dkxhnyynn/image/upload/v1610476615/<%=p.photo_filename%>" alt="police photo" />
        <div>
          <div>
            <b>Name : </b>
            <span> <%=p.name%> </span>
          </div>
          <div>
            <b>ID : </b>
            <span> <%=p.id %> </span>
          </div>
          <div>
            <b>Department : </b>
            <span> <%=p.department %> </span>
          </div>
        </div>
        <a href="/admin/police_personnel_info/<%=p.id%>">More Info</a>
      </div>
      <% }) %> <% } %>
    </div>
  </body>
</html>
