<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../includes/head.ejs')%>
</head>
<header>
    <%-include('../includes/navigation.ejs')%>
    <link rel="stylesheet" href="/css/criminal/criminal_details.css">

</header>

<body>
    <nav class="top">
        <ul><li><a href="/criminal/add_criminal">Add Criminal</a></li></ul>
    </div>
    <div class="search-bar">
        <%-include('../includes/search_bar.ejs')%>
    </div>
    
   
</nav>

    <div class="criminals_list">
        <h3><%=page_title %></h2>
        <% if(criminals.length > 0) { %>
        <% criminals.forEach(c =>{ %>
        <div class="criminals_list_item">
            <img src="/images/criminals/<%=c.photo_filename%>" alt="criminal photo" >
            <div>
                <div>
                    <b>Name : </b>
                    <span> <%=c.name%> </span>
                  </div>
                  <div>
                    <b>ID : </b>
                    <span> <%=c.id %> </span>
                  </div>
                  <div>
                    <b>City : </b>
                    <span> <%=c.city %> </span>
                  </div>
            </div>
            
            <a href="/criminal/criminal_detail/<%=c.id%>">More Info</a>
        </div>
        <% }) %>
        <% } %>
    </div>
</body>

</html>