<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../includes/head.ejs')%>
</head>
<header>
    <%-include('../includes/navigation.ejs')%>
    <link rel="stylesheet" href="/css/criminal/criminal_det.css">

</header>

<body>
    <div class="main">
        <div id="col">
        <div class="row">
        <b>Photo:</b>
        <img src="/images/criminals/<%=criminal.photo_filename%>" alt="criminal photo" class="photo" height="310px">
    </div>
        </div>
    <div class="row">
        <b>ID:</b>
        <span class="id"><%=criminal.id%></span>
    </div>
    <div class="row">
        <b>Name:</b>
        <span class="firstname"><%=criminal.name%></span>
    </div>
    <div class="row"> 
        <b>Gender:</b>
        <span class="gender"><%=criminal.gender%></span>
    </div>
    <div class="row">
        <b>Height:</b>
        <span class="height"><%=criminal.height%></span>
    </div>
    <div class="row">
        <b>Weight:</b>
        <span class="weight"><%=criminal.weight%></span>
    </div>
    <div class="row">
        <b>DOB:</b>
        <span class="dob"><%=criminal.dob%></span>
    </div>
    <div class="row">
        <b>City:</b>
        <span class="place"><%=criminal.city%></span>
    </div>
    <div class="row">
        <% if(crimes.length> 0) { %>
        <b>Crimes:</b>
        <% crimes.forEach(c=>{ %>
        <div class="firstname">
            <span> <%=c.id %> </span>
            <span> <%=c.date%> </span>
            <span> <%=c.city%> </span>
            <a href="/crime/crime_detail/<%=c.id%>">More Info</a>
        </div>
    </div>
    <% }) %> <% } %>
    <div class="submit">
        <a href="/criminal/edit_criminal_detail/<%=criminal.id%>">Edit</a></div>
        <div class="submit">
        <a href="/criminal/delete_criminal/<%=criminal.id%>">Delete</a></div>
    </div>
</body>

</html>